
	<table style="width: 800" cellpadding="2" cellspacing="5">
		<tr>
			<td><img
				src="http://pollntalk2021.cafe24.com/app/images/mobile_logo.png?v=1.0"
				alt="폴앤톡 로고" /></td>
		</tr>
		<tr>
			<td
				style="background-color: #1C9CD9; padding: 10px 10px 10px 10px; font-size: 16px; font-weight: bold; font-family: 'Noto Sans KR'; color: #ffffff;">
				<span>{#title#}</span>
			</td>
		</tr>
		<tr>
			<td
				style="border: 1px solid #1C9CD9; padding: 10px 10px 10px 10px; font-size: 16px; font-family: 'Noto Sans KR'; color: #3b3a38;">
				<div style="float: left; width: 100%; margin-bottom: 25px;">
					<span>{#context#}</span>
				</div>
				<div
					style="float: left; width: 100%; text-align: center; border-top: 1px solid #1C9CD9; padding-top: 10px;">
					<a href="{#buttonlink#}">
						<button type="button"
							style="border-radius: 0px; background-color: #ffffff; border-top: 1px #cccccc solid; border-right: 1px #cccccc solid; border-left: 1px #cccccc solid; border-bottom: 1px #cccccc solid; padding: 10px 15px 10px 15px; color: #444444; font-weight: bold;">
							<span>{#buttonname#}</span>
						</button>
					</a>
				</div>
			</td>
		</tr>
		<tr>
			<td
				style="padding: 10px 10px 10px 10px; font-size: 14px; font-family: 'Noto Sans KR'; color: #a0a0a0; text-align: center;">
				<span>Copyright ⓒ 2020 PS VALTEC Corp. All rights reserved.</span>
			</td>
		</tr>
	</table>