<table style="width: 250px" class="cal_box" cellpadding="0"
	cellspacing="0" onload="initCalendar()">
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" class="cal_header"
				style="width: 100%; height: 25px">
				<tr>
					<td class="ca_arrow" id="prev_month">◀</td>
					<td>&nbsp;</td>
					<td class="ca_arrow" id="current_month"></td>
					<td class="ca_arrow" id="next_month">▶</td>
					<td class="ca_arrow"><a href="javascript:closeCalendarView()">×</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table style="width: 100%">
				<tr>
					<td class="cal_week">일</td>
					<td class="cal_week">월</td>
					<td class="cal_week">화</td>
					<td class="cal_week">수</td>
					<td class="cal_week">목</td>
					<td class="cal_week">금</td>
					<td class="cal_week">토</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table style="width: 100%" id="cal_data">

			</table>
		</td>
	</tr>
</table>